@import "../vars";
.display1,
.display2,
.display3,
.display4,
.display5{
  font-family: $font2;
  font-weight: 500;
  line-height: 120%;
}

.display1{
  font-size: 56px;
}

.display2{
  font-size: 36px;
}

.display3{
  font-size: 30px;
}

.display4{
  font-size: 24px;
  line-height: 130%;
}

.display5{
  font-size: 20px;
}

.title,
.title2{
  font-family: $font2;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $gray3;
}

.title2{
  font-size: 11px;
}

.body-text,
.body-text2,
.body-text3{
  font-size: 16px;
  line-height: 140%;
  p{
    line-height: inherit;
    &:not(:last-child){
      margin-bottom: 13px;
    }
  }
}

.body-text2{
  font-size: 14px;
}

.body-text3{
  font-size: 12px;
}

.text-link{
  font-size: 14px;
  line-height: 140%;
  color: $primary;
  &:hover{
    color: $black;
  }
}

.mlist{
  padding-left: 12px;
  li{
    padding-left: 16px;
    line-height: inherit;
    position: relative;
    &:not(:last-child){
      margin-bottom: 2px;
    }
    &::before{
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      left: 0;
      top: 10px;
      transform: translate(-50%, 0);
      background-color: $dark;
    }
  }
}


@media screen and (max-width: 992px){
  .display1{
    font-size: 36px;
  }

  .display2{
    font-size: 32px;
  }

  .display3{
    font-size: 26px;
  }

  .display4{
    font-size: 20px;
  }

  .display5{
    font-size: 18px;
  }
}

@media screen and (max-width: 576px){
  .display1,
  .display2,
  .display3{
    font-size: 22px;
  }

  .display4{
    font-size: 14px;
  }

  .display5{
    font-size: 16px;
  }

  .text-link{
    font-size: 12px;
  }

  .body-text,
  .body-text2{
    font-size: 12px;
  }

  .body-text3{
    font-size: 10px;
  }

  .mlist{
    padding-left: 8px;
    li{
      padding-left: 10px;
      &::before{
        top: 6.5px;
      }
    }
    &:not(:last-child){
      margin-bottom: 12px;
    }
  }
}
