@import '../vars';
@import '../mixins';
.modal{
    &-dialog{
        background: #F2F4F7;
        padding: 70px 68px 100px;
        pointer-events: unset;
        width: 800px;
        max-width: 100%;
    }
    &__close{
        top: 20px;
        right: 20px;
        position: absolute;
        svg{
            width: 32px;
            height: 32px;
            fill:$gray2;
        }
        &:hover{
            svg{
                fill: $black;
            }
        }
    }
    &__title{
        color: $dark;
    }
    &__form{
        margin-top: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px 24px;
        .fg{
            margin: 0;
            &--text{
                display: flex;
                flex-direction: column;
                grid-row: 1/4;
                grid-column: 2/3;
                textarea{
                    flex-grow: 1;
                }
            }
        }
    }
    &__hint{
        margin-top: 24px;
        color: $gray2;
        a{
            color: $dark;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__btn{
        margin-top: 24px;
        width: 199px;
        height: 54px;
        font-size: 16px;
        svg{
            margin-right: 8px;
            fill: #fff;
            width: 22px;
            height: 22px;
        }
    }
}
