<div class="news-card__img">
    <img src="img/@@img.webp" alt="">
</div>
<div class="news-card__content">
    <a href="" class="news-card__title display4">Заголовок новости</a>
    <div class="news-card__info">
        <div class="news-card__date body-text2">12.12.21</div>
        <div class="news-card__info-title body-text3">Полезная информация</div>
    </div>
    <div class="news-card__desc body-text3">Cras consectetur curabitur augue enim nulla suspendisse elit suspendisse dictumst. Potenti volutpat pharetra aliquet blandit sagittis duis. Sodales nulla tellus odio euismod. Id odio lorem donec sit. Pulvinar mauris et scelerisque a velit.</div>
    <a href="" class="news-card__link text-link">Читать дальше </a>
</div>
