<div class="qa-card__show">
    <div class="qa-card__title">@@title</div>
    <button class="qa-card__btn">
        <svg class="sprite">
            <use xlink:href="img/sprite.svg#plus"></use>
        </svg>
    </button>
</div>

<div class="qa-card__hidden body-text2">
    <p>Sed amet amet dui tortor egestas nisl. Nibh maecenas enim volutpat, id sed aliquam in nullam quam. Ut viverra ut at dolor blandit consequat arcu. Dolor nisl a egestas consequat amet. Tempor sed sit non volutpat id. Eget lobortis magna enim ornare condimentum integer orci. Sed integer volutpat consectetur eu, mauris. Nisi mattis tincidunt habitasse mi, arcu vulputate urna at. Condimentum viverra consequat felis in morbi.</p>
    <p>Nisi et cras nisl vel. Suspendisse quisque purus tellus mus sit massa pretium nunc sed. Arcu ac nulla libero, blandit urna. Est volutpat facilisis lacus ullamcorper. Velit, adipiscing nibh vehicula elementum lectus dui. Sit aliquam aliquam maecenas integer massa sem. Sed purus elementum tincidunt non vel.</p>
</div>
