<div class="modal fade" id="messageModal" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="modal__close" data-bs-dismiss="modal" aria-label="Close">
            <svg class="sprite">
                <use xlink:href="img/sprite.svg#close"></use>
            </svg>
        </button>

        <div class="modal__title display3">Отправить сообщение</div>

        <form action="" class="modal__form">
            <fieldset class="fg">
                <label>Имя</label>
                <input type="text" placeholder="Ваше имя">
            </fieldset>
            <fieldset class="fg">
                <label>Email</label>
                <input type="email" placeholder="@">
            </fieldset>
            <fieldset class="fg">
                <label>Телефон</label>
                <input type="tel" placeholder="+7">
            </fieldset>
            <fieldset class="fg fg--text">
                <label>Текст обращения</label>
                <textarea placeholder="Ваш вопрос"></textarea>
            </fieldset>
            <div class="modal__hint body-text3">
                Нажимая кнопку «Отправить», вы соглашаетесь на обработку персональных данных в соответствии с
                <a href="">Политикой конфиденциальности.</a>
            </div>
            <button class="modal__btn mbtn mbtn-blue">
                <svg class="sprite">
                    <use xlink:href="img/sprite.svg#check"></use>
                </svg>
                <span>Отправить</span>
            </button>
        </form>

    </div>
</div>


<!-- <div class="modal-backdrop show"></div>-->
