<div class="container">
    <div class="footer__logo">
        <svg class="sprite">
            <use xlink:href="img/sprite.svg#footer-logo"></use>
        </svg>
    </div>

    <div class="footer__wrap">
        <div class="footer__left">
            <div class="footer__address">
                <span>Фактический адрес:</span>
                Санкт-Петербург, Парнас 5-й Верхний пер, д.19, офис 302
            </div>
            <div class="footer__address">
                <span>Почтовый адрес:</span>
                194358 Санкт-Петербург, а/я 46<br> ООО «ПРЕССТИЖ»
            </div>
            <div class="footer__address">
                <span>Юридический адрес:</span>
                Санкт-Петербург, Парнас 5-й Верхний пер, д.19
            </div>

            <div class="footer__socials">
                <a href="" class="footer__socials-item">
                    <svg class="sprite">
                        <use xlink:href="img/sprite.svg#vk"></use>
                    </svg>
                </a>
                <a href="" class="footer__socials-item">
                    <svg class="sprite">
                        <use xlink:href="img/sprite.svg#telegram"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="footer__right">
            <div class="footer__links">
                <a href="" class="footer__link">Компания</a>
                <a href="" class="footer__link">История</a>
                <a href="" class="footer__link">Партнеры</a>
                <a href="" class="footer__link">Сертификаты</a>
                <a href="" class="footer__link">Новости</a>
                <a href="" class="footer__link">Контакты</a>
            </div>
            <div class="footer__links">
                <a href="" class="footer__link">Продукция</a>
                <a href="" class="footer__link">PressMesh-R</a>
                <a href="" class="footer__link">PressMesh-Q</a>
                <a href="" class="footer__link">PressMesh-KR</a>
                <a href="" class="footer__link">PressMesh-CH</a>
                <a href="" class="footer__link">PressMesh-SH</a>
                <a href="" class="footer__link">PressMesh-TDec</a>
                <a href="" class="footer__link">PressMesh-S</a>
            </div>
            <div class="footer__links">
                <a href="" class="footer__link">Применение</a>
                <a href="" class="footer__link">Строительство</a>
                <a href="" class="footer__link">Интерьер</a>
                <a href="" class="footer__link">Системы вентиляции</a>
                <a href="" class="footer__link">Фильтрация</a>
                <a href="" class="footer__link">Микорсетка</a>
                <a href="" class="footer__link">Пищевая промышленность</a>
                <a href="" class="footer__link">Автотюнинг</a>
                <a href="" class="footer__link">Защитные конструкции</a>
            </div>
            <div class="footer__links">
                <a href="" class="footer__link">Портфолио</a>
                <a href="" class="footer__link">Блог</a>
                <a href="" class="footer__link">Интернет-магазин</a>
            </div>
        </div>
    </div>
</div>
