<div class="container">
    <div class="model__inner">
        <div class="model__left">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide model__content model__content--active" data-tabs-path="1">
                        @@include('_model-content.html',{"title":"Строительство"})
                    </div>
                    <div class="swiper-slide model__content" data-tabs-path="2">
                        @@include('_model-content.html',{"title":"Интерьер"})
                    </div>
                    <div class="swiper-slide model__content" data-tabs-path="3">
                        @@include('_model-content.html',{"title":"Фильтрация"})
                    </div>
                    <div class="swiper-slide model__content" data-tabs-path="4">
                        @@include('_model-content.html',{"title":"Системы вентиляции"})
                    </div>
                    <div class="swiper-slide model__content" data-tabs-path="5">
                        @@include('_model-content.html',{"title":"Микросетка"})
                    </div>
                    <div class="swiper-slide model__content" data-tabs-path="6">
                        @@include('_model-content.html',{"title":"Пищевая промышленность"})
                    </div>
                    <div class="swiper-slide model__content" data-tabs-path="7">
                        @@include('_model-content.html',{"title":"Автотюнинг"})
                    </div>
                    <div class="swiper-slide model__content" data-tabs-path="8">
                        @@include('_model-content.html',{"title":"Защитные конструкции"})
                    </div>
                </div>
            </div>
        </div>
        <div class="model__right">
            <div class="model__tabs">
                <div class="model__tab model__tab--active title2" data-tabs-path="1">Строительство</div>
                <div class="model__tab title2" data-tabs-path="2">Интерьер</div>
                <div class="model__tab title2" data-tabs-path="3">Фильтрация</div>
                <div class="model__tab title2" data-tabs-path="4">Системы вентиляции</div>
                <div class="model__tab title2" data-tabs-path="5">Микросетка</div>
                <div class="model__tab title2" data-tabs-path="6">Пищевая промышленность</div>
                <div class="model__tab title2" data-tabs-path="7">Автотюнинг</div>
                <div class="model__tab title2" data-tabs-path="8">Защитные конструкции</div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
