<div class="model__wrap">
    <div class="model__info">
        <div class="model__subtitle title2">ПРименение</div>
        <div class="model__title display2">@@title</div>
        <div class="model__desc body-text2">Vitae sed donec in nec adipiscing tristique tempor massa. Non lorem diam aenean proin adipiscing at tempus faucibus. Accumsan, pellentesque pretium tempus feugiat dictumst nulla fermentum enim enim.</div>
        <a href="" class="model__link mbtn mbtn-white-outline">Подробнее</a>
    </div>
    <div class="model__3d">
        <div class="model__img">
            <img src="img/car.png" alt="">
        </div>
        <div class="model__nav">
            <button class="model__btn">
                <svg class="sprite">
                    <use xlink:href="img/sprite.svg#stop"></use>
                </svg>
            </button>
            <button class="model__btn">
                <svg class="sprite">
                    <use xlink:href="img/sprite.svg#play"></use>
                </svg>
            </button>
        </div>
    </div>
</div>
