@import 'vars';
@import 'components/_text.scss';
@import 'components/_buttons.scss';
@import 'components/_fonts.scss';
.page{
    &__wrap{
        display: flex;
        &--gap100{
            @media screen and (min-width: 1200px){
                .page__left{
                    max-width: calc(100% - 440px);
                }
                .page__right{
                    margin-left: 100px;
                }
            }
        }
    }
    &__left{
        flex-grow: 1;
        max-width: calc(100% - 400px);
    }
    &__right{
        width: 340px;
        flex-shrink: 0;
        margin-left: 60px;
    }
}

.page-top{
    color: $dark;
    padding: 132px 0 72px;
    &--small{
        padding-bottom: 38px;
    }
    &__items{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(7,1fr);
        gap: 20px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 49px;
    }
    &__subtitle{
        font-weight: 600;
        font-size: 11px;
        line-height: 140%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 4px;
    }
    &__num{
        font-size: 16px;
        line-height: 140%;
    }
}

.tags{
    width: calc(100% + 12px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -12px;
}

.tag{
    padding: 0 18px;
    height: 40px;
    white-space: nowrap;
    border-radius: 20px;
    background: #F2F4F7;
    border: $border;
    font-size: 14px;
    color: $gray2;
    display: flex;
    align-items: center;
    margin: 12px 12px 0 0;
    &:hover{
        color: #F9FAFB;
        background-color: $gray3;
    }
    &:last-child{
        margin-right: 0;
    }
}

.nice-select.my-select{
    color: inherit;
    float: unset;
    height: 52px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 35px 0 20px;
    font-size: 14px;
    line-height: 140%;
    border-radius: 0;
    border:none;
    background: #FCFCFD;
    &:before{
        content: '◄';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(3px,-40%) rotate(-90deg);
        font-size: 16px;
        display: flex;
        align-items: center;
    }
    &:after{
        display: none;
    }
    .list{
        padding: 20px 0;
        border-radius: 0;
        border:none;
        background: #FCFCFD;
        box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
    }
    .option{
        border:none;
        padding: 12px 20px;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        &.selected{
            background-color: #F2F4F7 !important;
            font-weight: 400;
        }
    }
}

.fg {
    position: relative;
    margin: 0 0 20px;
    label{
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        display: block;
        color: #475467;
        margin-bottom: 8px;
    }
    textarea,
    input {
        background: #FFFFFF;
        border: 1px solid #E4E7EC;
        border-radius: 3px;
        padding: 0 10px;
        height: 52px;
        width: 100%;
        font-size: 14px;
        line-height: 140%;
        color: $black;
        &::placeholder {
            color: $gray3;
        }
        &:focus{
            border-color: $black;
        }
    }
    textarea{
        display: block;
        height: 100px;
        resize: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.check {
    position: relative;
    input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        cursor: pointer;
        &:checked+label {
            &::before {
                // background-color: $green;
                border: 3px solid #fff;
            }
        }
        &:disabled+label {
            color: #AAAAAA;
            pointer-events: none;
        }
    }
    label {
        padding-left: 40px;
        position: relative;
        min-height: 20px;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            border-radius: 2px;
            background: rgba(255, 255, 255, 0.01);
            border: 1px solid rgba(255, 255, 255, 0.45);
            width: 20px;
            height: 20px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all .100s;
        }
    }
}

.swiper-pagination{
    z-index: 2;
    display: flex;
    &-bullet{
        width: 14px;
        height: 14px;
        background: #FCFCFD;
        opacity: 0.65;
        margin: 0 14px 0 0 !important;
        &-active{
            opacity: 1;
        }
    }
}

@media screen and (max-width: 1200px){
    .page{
        &__right{
            width: 290px;
            margin-left: 30px;
        }
        &__left{
            max-width: calc(100% - 320px);
        }
    }

    .page-top{
        &__items{
            grid-template-columns: repeat(6,1fr);
        }
    }
}

@media screen and (max-width: 992px) {
    .page{
        &__right{
            display: none;
        }
        &__left{
            max-width: 100%;
        }
    }

    .page-top{
        padding: 16px 0;
        &__items{
            margin-top: 32px;
            grid-template-columns: repeat(1,1fr);
        }
        &__item{
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            min-height: unset;
        }
        &__num{
            min-width: 24px;
            text-align: center;
            margin-right: 16px;
            flex-shrink: 0;
            font-size: 12px;
        }
        &__subtitle{
            margin: 0;
            font-size: 9px;
        }
    }
}

@media screen and (max-width: 768px){
    .tags{
        flex-wrap: nowrap;
        overflow-x: auto;
        width: calc(100% + 32px);
        margin:0 0 0 -16px;
        background-color: #fff;
        padding: 25px 16px;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    .tag{
        flex-shrink: 0;
        margin: 0 8px 0 0;
        padding: 0 20px;
    }
}

@media screen and (max-width: 576px){
    .swiper-pagination{
        &-bullet{
            width: 10px;
            height: 10px;
            margin: 0 10px 0 0 !important;
        }
    }
}
