$font1:'Open Sans',sans-serif;
$font2:'Ruda',sans-serif;
$font3:'Rubik',sans-serif;
$black: #364452;
$dark:#344054;
$primary: #2B809C;
$primaryBg: #225B7B;
$gray: #D0D5DD;
$gray2: #667085;
$gray3: #98A2B3;
$grayBg: #E4E7EC;
$border: 1px solid $gray3;
$shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
